:root {
    --font-family: 'Roboto Slab', serif;
    --font-family-diff: 'Playfair Display', serif;

    --font-large: 32px; 

    --color-first: #222222;
    --color-second: #a2a2a2;
    --color-third: #fbf9f7;
    --color-fourth: #f7f7f7;
    --color-diff: #b07d4d;

    --shadow-low: 0 2px 30px var(--color-third);
    --shadow-hard: 0 4px 30px var(--color-second);

    --transition: cubic-bezier(0.26, 0.85, 0.49, 1.01);
    
}

::selection { background: var(--color-first); color: var(--color-third) }

* {
    font: 400 16px/normal var(--font-family);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-first);
    background: var(--color-third);
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6,p {
    padding: 0;
    margin-bottom: 0;
}

/* Button */
.fe-button {
    min-width: 9rem;
    height: 3rem;
    background: #ffffff;
    font-size: 0.875rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 3rem;
    box-shadow: var(--shadow-low);
    transition: 0.3s var(--transition);
}
.fe-button:hover {
    color: var(--color-second);
    border-color: var(--color-second);
    transition: 0.5s var(--transition);
    transform: translateY(-0.25rem);
}
.fe-button:focus {
    border-color: var(--color-first);
    outline: none;
}

/* Link */
a { color: var(--color-diff); display: inline-block; transition: 0.3s var(--transition); }
a:hover { text-decoration: none; transform: translateY(-0.25rem); }
a:visited { color: var(--color-diff); }

/* Typography */
.fe-title-1 {
    font-size: 3.5rem;
    font-family: var(--font-family-diff);
    font-weight: 900;
    letter-spacing: -2px;
}
.fe-title-2 { 
    font-size: 1.5rem;
    text-transform: uppercase;  
    font-weight: 600;
}
.fe-text {
    font-weight: lighter;
    line-height: 1.5rem;
}
.fe-text-italic {
    font-style: italic;
}
.fe-break-line {
    display: block;
}
.fe-color-diff {
    color: var(--color-diff);
}

/* Grid */
.fe-container {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box
}
.fe-wrapper {
    margin: 2.5rem 0 0
}

header, main {
    text-align: center;
}

.fe-header__detail {
    margin-top: 0;
}

/* Swipe theme */
.fe-swipe__checkbox {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 42px;
    height: 24px;
    box-sizing: border-box;
}
.fe-swipe__checkbox input {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    margin: 0;
    opacity: 0;
    cursor: pointer;
}
.fe-swipe__checkbox .fe-swipe__grove {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 3px;
    left: 3px;
    background: #cdcdcd;
    border-radius: 9px;
    transition: all ease 200ms;
}
.fe-swipe__checkbox input:checked ~ .fe-swipe__grove {
    background: #111111;
}
.fe-swipe__checkbox .fe-swipe__dot {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 24px;
    background: #eeeeee;
    border-radius: 50%;
    display: block;
    transition: all ease 200ms;
}
.fe-swipe__checkbox input:checked ~ .fe-swipe__dot {
    transform: translateX(18px);
    background: #444444;
}

@media (min-height: 768px) {
    .fe-container {
        max-width: 40rem;
    }
    .fe-break-line {
        display: initial;
    }
    .fe-text-md-left {
        text-align: left;
    }
}


.fe-fade-in {
    opacity: 0;
    transform: translateY(-5px);
}

.fe-fade-in__active {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.32,.03,.93,.43);
}