/*

 =========================================================
 * Base - v1.0.0

 Contém a ligação entre os mixins e arquivos de base.
 Estrutura de Css Padrão.
 =========================================================

 */

@import './includes/var';
@import './includes/functions';
@import './includes/mixins/geral';
@import './includes/animacoes';

html, body {
	width: 100%;
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
	// background: $cor-0;
	color: $fonte-1;
	box-sizing: border-box;
}

// Padrões
.text--green { color: $cor-0 }
.text--green_effect {
	position: relative;
	cursor: pointer;
}
.text--green_effect:before {
	content: '';
	width: 100%;
	height: 100%;
	top: 15px;
	left: 0;
	background: $cor-0;
	position: absolute;
	opacity: 0;
	z-index: -1;
	transition: .2s $ease-out-quad;
}
.text--green_effect:hover::before {
	content: '';
	opacity: 1;
	top: 0px;
	color: #fff;
	transition: .4s $ease-in-quad;
}

.btn--green {
	border: 2px solid transparent;
	background: $cor-0;
	color: #fff;
	font-weight: bolder;
	@include btnRedon();
	transition: .2s $ease-out-quad;
	&:hover {
		background: $cor-1;
		color: $cor-0;
		border-color: $cor-0;
		transition: .2s $ease-out-quad;
	}
}

.container--full {
	width: 100%;
	height: 100%;

	.line--top, .line--middle, .line--bottom {
		width: 100%;
		height: 20vh;
		padding: 40px; 
		box-sizing: border-box;
	}

	.line--top {
		h1, h3, p {
			margin: 0
		}
		h1 {
			color: $cor-0;
			font-family: 'Lato', sans-serif;
			font-size: 2em;
			font-weight: bolder;
		}
		h1 + p {
		    margin-left: 40px;
		    margin-top: 5px;
		}
		h3 {
			margin-top: 5px;	
		}
	}

	.line--middle {
		height: 60vh;
		.column--left {
			padding-left: 40px;
			p {
				line-height: 1.4;
				color: #333;
			}
		}
	}

	.line--bottom {
		text-align: center;
	}

	.column--left, .column--right {
		width: 50%;
		height: 100%;
		box-sizing: border-box;
	}
	.column--left {
		float: left;
		.column--left_wrapper {
			font-size: 2em;
		}
	}
	.column--right {
		float: right;
		.column--right_wrapper {

		}
	}
}

// Componentes
@import './includes/componentes/table';
@import './includes/componentes/modal';
@import './includes/componentes/forms';
@import './includes/componentes/btn';
@import './includes/componentes/menu';

// Import do responsivo
@import './includes/mobile';

